
<div class="sh1">
  <strong><h1>Our Services</h1></strong>
  </div>
  <div class="p2">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, soluta!</p>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  
  <!--ICONS-->
  <div class="icons">
      <i class="fa fa-pencil"></i>
      <i class="fa fa-file-code-o"></i>
      <i class="fa fa-smile-o"></i>
  </div>
  
  
  
  <div class="row">
      <div class="col-md-4 col-sm-6">
      <h3 class="fh3">Web Development</h3> 
      <p class="p3">Lorem ipsum dolor sit amet<br> Voluptatibus velit quidem<br> quos quisquam eligendi.</p> 
        </div>
  
          <div class="col-md-4 col sm-6">   
          <h3  class="fh3">Business Consultacy</h3> 
         <p class="p3">Lorem ipsum dolor sit amet<br> Voluptatibus velit quidem<br> quos quisquam eligendi.</p> 
          
         </div>
         <div class="row">
          <div class="col-md-4 col-sm-6">  
      <h3  class="fh3">Content Writing</h3> 
      <p class="p3">Lorem ipsum dolor sit amet<br> Voluptatibus velit quidem<br> quos quisquam eligendi.</p> 
          </div>
         </div>
  </div>
     
  
  <div class="bgimg2">
      <h1 class="th1"><strong>Some Features</strong></h1>
      <p class="p4">Lorem ipsum dolor sit amet<br>consectetur adipisicing elit. Aliquid, ducimus.</p>
  
      <div class="icons2">
          <i class="fa fa-fighter-jet"></i>
          <i class="fa fa-desktop"></i>
      <div class="container">
          <div class="row">
  
            <div class="col-sm-3">
            <h4 class="sh3"><strong>Bootrap 4 based</strong></h4>
          </div>
          
            <div class="col-sm-3">
            <h4 class="sh3"><strong>Fully Responsive</strong></h4>
          </div>
          </div>
  
           
              <i class="fa fa-database"></i>
              <i class=" 	fa fa-cog"></i>
           <div class="container">
           <div class="row">
  
            <div class="col-sm-3">
            <h4 class="sh3"><strong>Parallax Background</strong></h4>
            </div>
          
            <div class="col-sm-3">
            <h4 class="sh3"><strong>Easy to customize</strong></h4>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
  
  
          <section id="portfolio">
  
          <h3 class="th3"><strong>our portfolio</strong></h3>
          <p class="p5">Lorem, ipsum dolor sit amet consectetur adipisicing <br>elit. Aspernatur dolore dolorem velit.</p>
  
          
          <style type="text/css">
    
            body { font-family: Arial, Helvetica, sans-serif; }
          
            .clear { clear: both; }
            
            span { margin-left: 50px; text-transform: uppercase; font-size: 14px; }
            
            span:hover { text-decoration: underline; cursor: pointer; color: blue; }
            
        
          </style>
        
        <body>
          <div class="button-container">
           </div>
          <span onclick="changeImage('https://preview.uideck.com/items/mate-1.2/img/portfolio/img1.jpg')"><button>ALL</button> </span>
          <span onclick="changeImage('https://preview.uideck.com/items/mate-1.2/img/portfolio/img2.jpg')"><button>DESIGN</button></span>
          <span onclick="changeImage('https://preview.uideck.com/items/mate-1.2/img/portfolio/img3.jpg')"><button>DEVELOPMENT</button></span>
          <span onclick="changeImage('https://preview.uideck.com/items/mate-1.2/img/portfolio/img4.jpg')"><button>PRINT</button></span>
          
          <br/>
          <img id="imgDisp" src="https://preview.uideck.com/items/mate-1.2/img/portfolio/img1.jpg" />
          
  
  
          </body>
        </section>
  
        <section>
          <h2 class="fh2">watch our intro video</h2>
          <p class="p6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eos et perferendis omnis enim<br> praesentium molestias officia corrupti, blanditiis quibusdam.</p>
          
        <i class="fa fa-file-video-o"></i>
        </section>
  
        <section>
  <h1 class="fih1"><strong>pricing table</strong></h1>
  <p class="p6">Lorem ipsum dolor sit <br>amet consectetur adipisicing elit. Voluptate, nulla!</p>
  
  
  <div class="container-fluid">
    <div class="text-center">
       </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Free</h1>
          </div>
          <div class="panel-body">
            <p><strong>$00</strong></p>
            <p>Lorem, ipsum</p>
            <p>Lorem, ipsum</p>
            <p>Lorem, ipsum dolor</p>
            <p>Lorem, ipsum dolor</p>
          </div>
          <div class="panel-footer">
            <button>get plan</button>
          </div>
        </div>      
      </div>     
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Popular</h1>
          </div>
          <div class="panel-body">
            <p><strong>$3.99</strong> </p>
            <p>Lorem, ipsum</p>
            <p>Lorem, ipsum</p>
            <p>Lorem, ipsum dolor</p>
            <p>Lorem, ipsum dolor</p>
          </div>
          <div class="panel-footer">
            <button>buy now</button>
          </div>
        </div>      
      </div>       
      <div class="col-sm-4">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Premium</h1>
          </div>
          <div class="panel-body">
            <p><strong>$9.50</strong> </p>
            <p>Lorem, ipsum</p>
            <p>Lorem, ipsum</p>
            <p>Lorem, ipsum dolor</p>
            <p>Lorem, ipsum dolor</p>
          </div>
          <div class="panel-footer">
            <button>buy now</button>
          </div>
        </div>      
      </div>    
    </div>
  </div>
  
  <section>
  <i class="fa fa-clock-o"></i>
  <i class="fa fa-suitcase"></i>
  <i class=" 	fa fa-user-circle"></i>
  <i class=" 	fa fa-heart"></i>
  
  <h3>
  <span class="counter">1589</span>
  <span class="counter">699</span>
  <span class="counter">202</span>
  <span class="counter">1689</span>
  </h3>
  
  
  
  <div class="row">
    <div class="col-md-2 col-sm-4">
    <h4 class="fh4">Working Hours</h4> 
    
  </div>
  
  
        <div class="col-md-2 col sm-4">   
        <h4  class="fh4">Completed Projects</h4> 
       
       </div>
       <div class="row">
        <div class="col-md-2 col-sm-4">  
    <h4  class="fh4">No .of clients</h4> 
   
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4">
      <h4 class="fh4">Peoples Love</h4> 
      </div>
      </div>
       </div>
  </div>
        </section>
        
      
   <h1 class="team"><strong>our team</strong></h1>
    <p class="p7">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Et maiores ullam distinctio cumque iusto!</p>
  
  
    <div class="row">
    <div class="panel-heading">
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default text-center">
      <div class="panel-body">
      <img src="https://preview.uideck.com/items/mate-1.2/img/team/team1.jpg">
      <h4><strong>John Doe</strong></h4>
    <p>Chief Technical Officer</p>
    </div>
    <div class="panel-footer">
    <ul class="social-list">
    <li class="facebook">
    <a href="#">
    <i class="fa fa-facebook">
    </i>
    </a>
    </li>
    </ul>
  <li class="twitter">
  <a href="#">
  <i class="fa fa-twitter">
  </i>
  </a>
  </li>
  <li class="googgle-plus">
  <a href="#">
  <i class="fa fa-google-plus">
  </i>
  </a>
  </li>
  <li class="linkedin">
  <a href="#">
  <i class="fa fa-linkedin">
  </i>
  </a>
  </li>
  
  <div class="row">
  <div class="col-sm-12">
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <img src="https://preview.uideck.com/items/mate-1.2/img/team/team2.jpg">
  <h4><strong>Paul Kowalsky</strong></h4>
  <p>CEO & Co-Founder</p>
    </div>
    <div class="panel-footer">
  <ul class="social-list">
  <li class="facebook">
  <a href="#">
  <i class="fa fa-facebook">
  </i>
  </a>
  </li>
  </ul>
  <li class="twitter">
  <a href="#">
  <i class="fa fa-twitter">
  </i>
    </a>
  </li>
  <li class="googgle-plus">
  <a href="#">
  <i class="fa fa-google-plus">
  </i>
  </a>
  </li>
  <li class="linkedin">
  <a href="#">
  <i class="fa fa-linkedin">
  </i>
  </a>
  </li>
  </div>  
  </div>                  
  
  
  <div class="row"></div>
  <div class="col-sm-2">
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <img src="https://preview.uideck.com/items/mate-1.2/img/team/team3.jpg">
  <h4><strong>Emilly Williams</strong></h4>
  <p>Business Manager</p>
    </div>
    <div class="panel-footer">
  <ul class="social-list">
  <li class="facebook">
  <a href="#">
  <i class="fa fa-facebook">
  </i>
  </a>
  </li>
  </ul>
  <li class="twitter">
  <a href="#">
  <i class="fa fa-twitter">
  </i>
    </a>
  </li>
  <li class="googgle-plus">
  <a href="#">
  <i class="fa fa-google-plus">
  </i>
  </a>
  </li>
  <li class="linkedin">
  <a href="#">
  <i class="fa fa-linkedin">
  </i>
  </a>
  </li>
  </div>  
  </div> 
  
  
  <div class="row"></div>
  <div class="col-sm-2">
  <div class="panel panel-default text-center">
    <div class="panel-body">
      <img src="https://preview.uideck.com/items/mate-1.2/img/team/team4.jpg">
  <h4><strong>Patricia Green</strong></h4>
  <p>Graphic Designer</p>
    </div>
    <div class="panel-footer">
  <ul class="social-list">
  <li class="facebook">
  <a href="#">
  <i class="fa fa-facebook">
  </i>
  </a>
  </li>
  </ul>
  <li class="twitter">
  <a href="#">
  <i class="fa fa-twitter">
  </i>
    </a>
  </li>
  <li class="googgle-plus">
  <a href="#">
  <i class="fa fa-google-plus">
  </i>
  </a>
  </li>
  <li class="linkedin">
  <a href="#">
  <i class="fa fa-linkedin">
  </i>
  </a>
  </li>
  </div>  
    </div> 
      </div>
        </div>
      </div>
    </div>
  </div>
    </div>
      </div>
    </div>
  
  
  
  <section>
    <div class="container">
      <h2>Carousel Example</h2>  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://preview.uideck.com/items/mate-1.2/img/testimonial/customer3.jpg" alt="image">
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Nihil, corrupti.</p>
            <h5>Alex Dattilo</h5>
            <p>CEO Optima Inc</p>
          
          </div>
    
          <div class="item">
            <img src="https://preview.uideck.com/items/mate-1.2/img/testimonial/customer1.jpg" alt="image">
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Nihil, corrupti.</p>
          <h5>Jane Dean</h5>
          <p>Fondor of Jalmori</p>
          
          </div>
        
          <div class="item">
            <img src="https://preview.uideck.com/items/mate-1.2/img/testimonial/customer2.jpg" alt="image" style="width: 7%;">
            <p>Lorem ipsum dolor sit amet <br>consectetur adipisicing elit. Nihil, corrupti.</p>
          <h5>Oidila Matik</h5>
          <p>President Lexo Inc</p>
          
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    </section>
  
  
    <section>
  
      <h1 class="sih1"><strong>recent blog</strong></h1>
      <p class="p7">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Obcaecati nisi dolore minus?</p>
  
  
      <div class="row">
        <div class="col-sm-6 blog-item">
        
        <div class="blog-item-wrapper">
        <div class="blog-item-img">
        <a href="single-post.html">
        <img src="https://preview.uideck.com/items/mate-1.2/img/blog/img1.jpg" alt="">
        </a>
        </div>
        <div class="blog-item-text">
        <div class="meta-tags">
        <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
        <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
        </div>
        <h3>
        <a href="single-post.html">How often should you tweet?</a>
        </h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
        </div>
        </div>
  
         <div class="row">
        <div class="col-sm-6  blog-item">
  
          <div class="blog-item-wrapper">
          <div class="blog-item-img">
          <a href="single-post.html">
          <img src="https://preview.uideck.com/items/mate-1.2/img/blog/img2.jpg" alt="">
          </a>
          </div>
          <div class="blog-item-text">
          <div class="meta-tags">
          <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
          <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
          </div>
          <h3>
          <a href="single-post.html">Content is still king</a>
          </h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
          </div>
        </div> 
        </div>
  
  
        <div class="row">
          <div class="col-sm-6 blog-item">
          
          <div class="blog-item-wrapper">
          <div class="blog-item-img">
          <a href="single-post.html">
          <img src="https://preview.uideck.com/items/mate-1.2/img/blog/img3.jpg" alt="image">
          </a>
          </div>
          <div class="blog-item-text">
          <div class="meta-tags">
          <span class="date"><i class="lnr  lnr-clock"></i>2 Days Ago</span>
          <span class="comments"><a href="#"><i class="lnr lnr-bubble"></i> 24 Comments</a></span>
          </div>
          <h3>
          <a href="single-post.html">Social media at work</a>
          </h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
          </p>
          <a href="single-post.html" class="btn-rm">Read More <i class="lnr lnr-arrow-right"></i></a>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
  
   
  
          <div class="container-fluid bg-grey">
            <h2 class="text-center">Contact With us</h2>
            <div class="row">
              <div class="col-sm-5">
                <p>Centerville Road, DE 19808, US </p>
                <p> Phone: (+94123456789)</p>
                <p>E-mail (contact@mate.com)</p>
        
            
        
              </div>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Your name" type="text" required>
                  </div>
                  <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Your email" type="email" required>
                  </div>
                </div>
                <textarea class="form-control" id="message" name="message" placeholder="Your message" rows="5"></textarea><br>
                <div class="row">
                  <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">SEND MESSAGE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
